/config.json
/hardware_key.pem
/landanchor_system.log
/quick_script.py
/requirements.txt
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/dataSources.xml
/.idea/db-forest-config.xml
/.idea/LandAnchor.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/accelerated_features-0.1/.vscode/settings.json
/accelerated_features-0.1/assets/ref.png
/accelerated_features-0.1/assets/tgt.png
/accelerated_features-0.1/figs/sift.gif
/accelerated_features-0.1/figs/speed_accuracy.png
/accelerated_features-0.1/figs/timings.png
/accelerated_features-0.1/figs/ufmg.png
/accelerated_features-0.1/figs/verlab.png
/accelerated_features-0.1/figs/xfeat.gif
/accelerated_features-0.1/figs/xfeat_arq.png
/accelerated_features-0.1/figs/xfeat_quali.jpg
/accelerated_features-0.1/modules/__init__.py
/accelerated_features-0.1/modules/interpolator.py
/accelerated_features-0.1/modules/model.py
/accelerated_features-0.1/modules/xfeat.py
/accelerated_features-0.1/notebooks/minimal_example.ipynb
/accelerated_features-0.1/notebooks/xfeat_matching.ipynb
/accelerated_features-0.1/notebooks/xfeat_torch_hub.ipynb
/accelerated_features-0.1/weights/xfeat.pt
/accelerated_features-0.1/.gitignore
/accelerated_features-0.1/hubconf.py
/accelerated_features-0.1/LICENSE
/accelerated_features-0.1/minimal_example.py
/accelerated_features-0.1/README.md
/accelerated_features-0.1/realtime_demo.py
/onnx/xfeat_smart_dynamic_v2.onnx
/onnx/xfeat_smart_dynamic_v2.onnx.data
/onnx/xfeat_static_320.onnx
/onnx/xfeat_static_320.onnx.data
/UAVLoc-M3_dataset/*