/config.json
/hardware_key.pem
/landanchor_system.log
/quick_script.py
/requirements.txt
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/dataSources.xml
/.idea/db-forest-config.xml
/.idea/LandAnchor.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/accelerated_features-0.1/*
/onnx/*
/UAVLoc-M3_dataset/*
/*.db
/tests/test_dataset/
/accelerated_features-0.1.rar
/testground/
/logs/
/logs/*
/batch_results.jsonl
